<mat-card><mat-card-content *ngIf="player?.words">
    <h3>{{ player?.playerId }}'s Words (Score: {{ player?.score }}):</h3>
    <ul>
      <li *ngFor="let word of player?.words">
        <div class="word-container">
          <!-- Inline split and iterate over each letter -->
          <ng-container *ngFor="let letter of word.split('')">
            <mat-card class="tile-card">
              {{ letter }}
            </mat-card>
          </ng-container>
        </div>
      </li>
    </ul>
  </mat-card-content>
</mat-card>