.game-board {
    display: flex;        /* Use flexbox */
    flex-wrap: wrap;      /* Allow tiles to wrap onto the next line if needed */
    justify-content: space-between; /* Space out the tiles */
    gap: 10px;            /* Alternatively, you can use gap for spacing between tiles */
  }

  .word-input input.invalid-input { 
    border-color: red !important; /* Use a prominent color for feedback */ 
  }

  .word-input input { 
    text-transform: uppercase;
  }