<mat-card *ngIf="game">
  <mat-card-content>
    <h2>Game ID: {{ game.gameId }}</h2>
    <p>Number of Players: {{ game.players.length }}</p>

    <div class="game-board">
      <ng-container *ngFor="let tile of tiles">
        <mat-card class="tile-card">
          {{ tile }}
        </mat-card>
      </ng-container>

      <button mat-raised-button color="accent" (click)="flipRandomTile()"  class="fixed-button">
        Flip Tile
      </button>
        <form (ngSubmit)="submitWord()">
          <mat-form-field class="word-input">
            <mat-label>Enter Word</mat-label>
            <input matInput type="text" (paste)="preventPaste($event)" [(ngModel)]="currentWord" name="wordInput" alphaOnly autofocus />
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">
            Submit Word
          </button>
        </form>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="game">
  <ng-container>
    <app-player-word-board *ngFor="let player of game.players" [player]="player"></app-player-word-board>
  </ng-container>
</mat-card>