<mat-card *ngIf="game">
  <mat-card-content>
    <h2>Game ID: {{ game.gameId }}</h2>
    <p>Number of Players: {{ game.players.length }}</p>

    <div class="game-board">
      <ng-container *ngFor="let tile of tiles">
        <mat-card *ngIf="tile.isFlipped && tile.inMiddle" class="tile-card">
          {{ tile.letter }}
        </mat-card>
      </ng-container>

      <button mat-raised-button color="accent" (click)="flipRandomTile()"  class="fixed-button">
        Flip Tile
      </button>
        <form (ngSubmit)="submitWord()">
          <mat-form-field class="word-input">
            <mat-label>Enter Word</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="currentWord"
              name="wordInput"
              alphaOnly
            />
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit">
            Submit Word
          </button>
        </form>
    </div>
  </mat-card-content>
</mat-card>
