<mat-card *ngIf="game">
  <mat-card-content>
    <h2>Game ID: {{ game.gameId }}</h2>
    <p>Number of Players: {{ game.playerIds.length }}</p>
    <h3>Tiles</h3>
    <div class="game-board">
      <app-tile
        *ngFor="let tile of tiles"
        [letter]="tile.letter"
        [isFlipped]="tile.isFlipped"
        [tileId]="tile.tileId"
        (tileClick)="handleTileFlipped(tile.tileId)"
      ></app-tile>
    </div>

    <mat-card>
      <mat-card-content>
        <form (ngSubmit)="submitWord()">
          <mat-form-field class="word-input">
            <mat-label>Enter Word</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="currentWord"
              name="wordInput"
              alphaOnly
            />
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit">
            Submit Word
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
