<h2 mat-dialog-title>Join Game</h2>
<form #gameIdForm="ngForm" (ngSubmit)="dialogRef.close(gameId)">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Game ID</mat-label>
      <input matInput [(ngModel)]="gameId" name="gameId" #gameIdInput autofocus>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-raised-button color="primary" [mat-dialog-close]="gameId" type="submit">Join</button>
  </mat-dialog-actions>
</form>
